{% extends "layout.html" %} 

  {% block content %}
  
    <form>
        <div class="container mt-2 text-left">
        <h2 class=text-success>Nuevo Usuario</h2>
  </div> 
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fullName">Nombre Completo</label>
            <input type="text" class="form-control" id="fullName" placeholder="Nombre completo">
          </div>
          <div class="form-group col-md-6">
            <label for="username">Usuario</label>
            <input type="text" class="form-control" id="userName" placeholder="Inserte su usuario (dato único)">
          </div>
          

          <div class="form-group col-md-6">
            <label for="documentNumber">Cedula Ciudadania</label>
            <input type="number" class="form-control" id="documentNumber" placeholder="0000011111">
          </div>
          <div class="form-group col-md-6">
            <label for="password">Contraseña</label>
            <input type="number" class="form-control" id="password" placeholder="************">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="categoria">Rol</label>
            <select id="categoria" class="form-control">
              <option selected>Por favor seleccione...</option>
              <option value="1">Administrador</option>
              <option value="2">Vendedor</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>  
    </body>
  </html> 

  {% endblock %}